.sidenav {
  height: 100%;
  width: 170px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 100px;
  
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  font-family: 'Englebert', sans-serif;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
} */

.topnav {
  overflow: hidden;
  background-color: #333;
  padding-left: 170px
}

.topnav a {
  float: left;
  color: #f2f2f2;
  /*text-align: center;*/
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.container {
  padding-left: 170px;
  padding-top: 50px;
}

.navContainer {
  margin-top: 100px
}

.costumes {
  float: left;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  width: 300px;
  height: 400px;
  margin: 10px 10px;
  border-radius: 10px;
  margin: 20px;
  text-align: center;
  align-items: center;
}

img {
  width: 200px;
  height: 300px;
}

h1 {
  font-family: 'Henny Penny', cursive;
  font-size: 50px;
}

button.is-block.is-info.is-large.is-fullwidth {
  background-color: #85E21F;
}

#witch {
  width: 128px;
  height: 128px;
}

figure.avatar {
  margin: 0 auto;
}

div.container.has-text-centered {
  padding: 0px 0px;
}

